In [1]:
import pandas as pd

In [17]:
car_data = pd.read_csv('car_data.csv', header=None)
car_data.columns = ['buying', 'maintanance', 'doors', 'persons', 'lug_boat', 'safety']
car_data.head(14)

        0      1  2  3      4     5      6
0   vhigh  vhigh  2  2  small   low  unacc
1   vhigh  vhigh  2  2  small   med  unacc
2   vhigh  vhigh  2  2  small  high  unacc
3   vhigh  vhigh  2  2    med   low  unacc
4   vhigh  vhigh  2  2    med   med  unacc
5   vhigh  vhigh  2  2    med  high  unacc
6   vhigh  vhigh  2  2    big   low  unacc
7   vhigh  vhigh  2  2    big   med  unacc
8   vhigh  vhigh  2  2    big  high  unacc
9   vhigh  vhigh  2  4  small   low  unacc
10  vhigh  vhigh  2  4  small   med  unacc
11  vhigh  vhigh  2  4  small  high  unacc
12  vhigh  vhigh  2  4    med   low  unacc
13  vhigh  vhigh  2  4    med   med  unacc

Index(['vhigh', 'vhigh', 'vhigh', 'vhigh', 'vhigh', 'vhigh', 'vhigh', 'vhigh',
       'vhigh', 'vhigh',
       ...
       'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low', 'low'],
      dtype='object', length=1728)